<html>
 <head>
 <style>
   p{
     text-align: center
   }
   #ourHeader {
     border-style: double;
     border-color: pink;
     border-width: 9px;
     padding: 50px;
     font-size: 240%;
     color: powderblue;
   }
 </style>
 </head>
 <body>
   <p id="ourHeader" >Centership</p>
   <br><br/>
 </body>

<br><br/>
 <head><strong>Who We Are</strong></head>
 <br><br/>
 <em>Become a Mentee</em>
 <br><br/>
<em>Become a Mentor</em>
<br><br/>

<h1></h1>

<div>
</div>

<p class ="center text">Helping girls stay centered and supported on a path to a rewarding stem career.</p>