{% extends "header.html" %}

{% block content %} 

<!-- {% load crispy_forms_tags %}          -->

<!--Marketplace--> 
<div class="container py-5">
	<h1>Apply filters to find a good mentor match</h1>
	<form method="GET">
        {{interest_filter.form}}                  
		<button class="btn btn-primary" type="submit">Find Mentor</button>
	</form>

    <ul>
        {% for mentor in interest_filter.qs %}
        <li>
            <!-- if mentor.mentee_limit > 0 -->
            <!-- ^^ will need to reflect the decrement of mentee_limit -->
            <!-- which will need us to have the "matching" figured out -->
            <!-- aka step 1: find a way to assign foreign key once a "match" button is clicked -->
            {{mentor.user.first_name}}
            {{mentor.user.last_name}}
            {{mentor.user.email}}
            {{mentor.professional_experience}}
        </li>
        {% endfor %}
    </ul>

    <button class="btn btn-primary" type="Match with this mentor">Find Mentor</button>

</div>

{% endblock %}